<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "www.hibernate.org">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки БД -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://62.213.14.255:5437/user_service_db</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <!-- Диалект для 2025 года (Hibernate 6/7) -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Полезные настройки -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="hbm2ddl.auto">update</property>

        <property name="hibernate.generate_statistics">true</property>

        <!-- Количество соединений в пуле (по умолчанию 10) -->
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <!-- Время ожидания получения соединения из пула (в мс) -->
        <property name="hibernate.hikari.connectionTimeout">30000</property>
        <!-- Минимальное количество "спящих" соединений -->
        <property name="hibernate.hikari.minimumIdle">5</property>

        <!-- Максимальное время жизни соединения в пуле -->
        <property name="hibernate.hikari.maxLifetime">1800000</property>

        <!-- Регистрация класса -->
        <mapping class="org.example.model.User"/>
        <mapping class="org.example.model.Role"/>
        <mapping class="org.example.model.Content"/>
        <mapping class="org.example.model.Article"/>
        <mapping class="org.example.model.Comment"/>
        <mapping class="org.example.model.Friendship"/>
        <mapping class="org.example.model.Message"/>
        <mapping class="org.example.model.Password"/>
    </session-factory>
</hibernate-configuration>